@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* <---------------------------------------------------MOBILE------------------------------------------------------------------------------------------------------> */
body{
  color: black;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  transition: all 1s;
}
body.ModoOscuro{
  background-color: rgb(32,32,45);
  color: #fff;
}
.btn{
  color: rgb(51, 108, 182);
  border: 1px solid rgb(82, 81, 81);
  border-radius: 10px;
}
h1{
  font-weight: bold;
    font-size: 1.8em;
    padding: 0.3em;
}
.izq-padre{
  box-sizing: border-box;
  padding: 1em;
  margin: auto;
}
.izquierda{
width: 100%;
}
.izquierda iframe{
  width: 325px;
  height: 275px;
  border-radius: 10px;
}
.derecha{
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  flex-direction: column;
}
.derecha a{
text-decoration: none;
text-align: right;
}
.derecha p{
  font-size: 0.9em;
  padding: 0.6em;
}
.modo-nocturno{
  margin: 1em;
}
.modo-nocturno :hover{
background-color: rgb(219, 216, 216);
border-radius: 10px;
}
}
/* <---------------------------------------------------TABLET------------------------------------------------------------------------------------------------------> */
@media only screen and (min-width: 47em){
  body{
    color: black;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    transition: all 1s;
  }
  body.ModoOscuro{
    background-color: rgb(32,32,45);
    color: #fff;
  }
  .btn{
    color: rgb(51, 108, 182);
    border: 1px solid rgb(82, 81, 81);
    border-radius: 10px;
  }
  h1{
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
.cont{
    width: auto;
    margin: auto;
    padding-right: 1em;
}
.izq-padre{
  padding: 2em;
  box-sizing: border-box;
  padding-top: 5em;
  padding-left: 3.5em;
}
.izquierda{
  width: 40%;
}
.izquierda iframe{
  width: 650px;
  height: 400px;
  border-radius: 30px 0px 30px 0px;
}
.derecha{
  display: flex;
    width: 75%;
    padding-top: 1em;
    margin-right: 5em;
    box-sizing: border-box;
    flex-direction: column;
    margin-left: auto;
}
.derecha a{
  text-decoration: none;
  text-align: right;
}
.modo-nocturno{
    text-align: right;
    margin: 1em;
}
.modo-nocturno :hover{
  background-color: rgb(219, 216, 216);
  border-radius: 10px;
}
}
/* <---------------------------------------------------DESKTOP------------------------------------------------------------------------------------------------------> */
@media only screen and (min-width: 60em){
  body{
    color: black;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    transition: all 1s;
}
body.ModoOscuro{
  background-color: rgb(32,32,45);
  color: #fff;
}
.btn{
  color: rgb(51, 108, 182);
  border: 1px solid rgb(82, 81, 81);
  border-radius: 10px;
}
h1{
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
.cont{
    display: flex;
    justify-content: stretch;
}
.izq-padre{
  padding: 2em;
  box-sizing: border-box;
  padding-top: 5em;
  padding-left: 5em;
}
.izquierda{
  width: 50%;
  padding-left: 2em;
}
.izquierda iframe{
  width: 650px;
  height: 400px;
  border-radius: 30px 0px 30px 0px;
}
.derecha{
    width: 50%;
    padding-top: 3em;
    margin-right: 5em;
    box-sizing: border-box;
}
.derecha a{
  text-decoration: none;
  text-align: right;
}
.modo-nocturno{
    text-align: right;
    margin: 1em;
}
.modo-nocturno :hover{
  background-color: rgb(219, 216, 216);
  border-radius: 10px;
}
}

